body{
    background-color: rgb(44, 44, 44);
    color: white;
    flex: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    padding: 30px;
}

li a.nav-link{
    color: rgb(192, 192, 192);
    font-size: 25px;
}

.nav-link:hover{
    color: palevioletred;
    border-bottom: 1px solid palevioletred;
    transition: 0.3s all ease-in;
}

.section{
    display: block;
}

h1{
    font-size: 300%;
    font-weight: bold;
}

h2{
    font-size: 220%;
    font-weight: bold;
}

h3{
    font-size: 150%;
}

.sobre{
    width: 100%;
    height: 800px;
    padding-top: 7%;
}

.itens-sobre{
    width: 50%;
    float: left;
}

.itens-sobre h1{
    padding-top: 20%;
    padding-bottom: 1%;
}

.itens-sobre p{
    padding: 40px 0;
    color: rgb(192, 192, 192);
}

.img-sobre{
    width: 50%;
    float: right;
}

.img-sobre img{
    width: 450px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-left: 100px;
    border: solid 4px palevioletred;
}

.formacao{
    width: 100%;
    height: 700px;
}

.itens-form{
    width: 50%;
    float: left;
}

.curso{
    padding-top: 10%;
}

.option-curso{
    display: flex;
    width: 50%;
    flex-direction: column;
    text-align: center;
    background-color: rgb(31, 31, 31);
    border-left: 4px solid rgb(31,31,31);
    padding: 30px 5px 25px 15px;
    border-radius: 20px;
}

.curso h3{
    color: palevioletred;
    font-weight: bold;
}

.activeCurso{
    border-left: 4px solid palevioletred;
    color: white;
}

.form-descricao{
    width: 50%;
    float: right;
    padding-top: 12%;
    color: rgb(192, 192, 192);
}

.habilidades{
    width: 100%;
    height: 700px;
}

.itens-hab{
    width: 50%;
    float: left;
}

.col{
    width: 25%;
    flex-grow: 1;
    height: 150px;
    background-color: rgb(31,31,31);
    position: relative;
    border: 1px solid  rgb(15, 15, 15);
    border-radius: 4px;
    transition: 1s all ease;
    margin: 15px 15px;
}

.col:hover{
    border: 1px solid palevioletred;
}

.col img{
    width: 50%;
    justify-content: center;
    padding-top: 20%;
}

.postgres img {
    width: 20%;
    padding-top: 3%;
}

.contato{
    width: 100%;
    height: 500px;
    text-align: center;
}